body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;  
  min-height: calc(100vh - 450px);
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;  
}

.fill-container {
	width: 100% !important;
}

.no-radius {
	border-top-left-radius: 0em !important;
	border-bottom-left-radius: 0em !important;
	border-top-right-radius: 0em !important;
	border-bottom-right-radius: 0em !important;
}

.no-events {
	pointer-events: none;
}

.small-inner-padding {
	padding: 10px 10px 0 10px;
}

.no-padding {
	padding: 0 !important;
}

.no-border {
	border: 0 !important;
}

.sizing {
  width: 60%;
}

.padded {
  padding: 8px 16px 8px 16px;
}

.radius {
  border-radius: 2px;
}

.truncate {
  display: inline-block;
  width: 95%;
  white-space: nowrap;
  overflow: hidden !important;
  max-width: 200px;
  text-overflow: ellipsis;
}

.truncate-multi {
  display: -webkit-box !important;
  -webkit-line-clamp: 3!important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);  
}

.shadow:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.grey-text { color: rgba(0,0,0,.87) !important; }
 
.white { background-color: white; color: black;}
.grey {background-color:#F2F2F2;}
.no-border { border: none; }
.no-outline { outline: none; }

.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  height: 32px;
  width: 32px;
}

.fab:focus {outline:0;}

h1, h2, h3, h4, h5 {
  color: #1976D2;
}

::selection {
  background: #FF1493;
  color: #fff;
}

::-moz-selection {
  background: #FF1493;
  color: #fff;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media (max-width: 992px) {
  .sizing {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .sizing {
    width: 80%;
  }
}